/*
 * define margin, padding
 */
$margin: 8px !default;
$padding: 8px !default;

/*
 * define layer
 */
$layer-1: 10 !default;
$layer-2: 20 !default;
$layer-3: 30 !default;
$layer-4: 40 !default;
$layer-5: 50 !default;
$layer-6: 60 !default;
$layer-7: 70 !default;
$layer-8: 80 !default;
$layer-9: 90 !default;

/*
 * define color
 */
$mu-white: #d3d8e3 !default;
$mu-gray: #666666 !default;

/*
 * define headline
 */
h1 {
  font-size: 48px;
  line-height: 1;
}
h2 {
  font-size: 36px;
  line-height: 1.2;
}
h3 {
  font-size: 27px;
  line-height: 1.3;
}
h4 {
  font-size: 24px;
  line-height: 1.4;
}
h5 {
  font-size: 21px;
  line-height: 1.5;
}
h6 {
  font-size: 18px;
  line-height: 1.6;
}
