.mu-footer {
  align-items: center;
  background-color: #151927;
  border-top: solid 2px #2d2e33;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 100%;
  z-index: $layer-1;

  &__copyright {
    text-align: center;
    color: $mu-white;
  }
}
