.mu-footer {
  margin-top: $margin*4;
  margin-bottom: $margin*2;
  display: flex;
  align-content: center;
  justify-content: center;
  z-index: $layer-1;
  width: 100%;

  &__copyright {
    text-align: center;
    color: $mu-gray;
  }
}
