.mu-header {
  margin-bottom: $margin*2;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $layer-8;
  width: 100%;
  height: 200px;
  background-image: url('/header.png');
  background-size: cover;
  background-position: center 40%;
  background-repeat: no-repeat;

  &__title {
    text-align: center;
    color: $mu-white;
  }
}
