.mu-list {
  list-style-position: inside;

  > li {
    margin: 0px 0px $margin $margin;
  }

  &__image {
    margin: auto $margin*7;
  }

  &__link {
    color: #58a6ff;
    margin: 0px $margin*7;

    > a {
      color: inherit;
      text-decoration: none;
    }

    &:visited {
      color: inherit;
    }
  }
}
